<!-- SECOND ROW -->
<div class="container-fluid">
		<div class="row text-center pr-how-it-works-section">
			<h2>How It Works </h2>
			<div class="col-md-4">
				<div class="panel pr-how-it-works-panel">
				<h4>Register your business with us</h4>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel pr-how-it-works-panel">
				<h4>Fill up your business info</h4>
			</div>
			</div>
			<div class="col-md-4">
				<div class="panel pr-how-it-works-panel">
				<h4>Select a free template from listed templates that suits your business</h4>
			</div>
			</div>
			<div class="col-md-4">
				<div class="panel pr-how-it-works-panel">
				<h4>Personalize the template by selecting different options</h4>
			</div>
			</div>
			<div class="col-md-4">
				<div class="panel pr-how-it-works-panel">
				<h4>Publish your web page</h4>
			</div>
			</div>
			<div class="col-md-4">
				<div class="panel pr-how-it-works-panel">
				<h4>Start sharing your page</h4>
			</div>
			</div>
		</div>
	</div>