nav{
	font-family: 'Quicksand','Oxygen','Roboto', sans-serif;
	/*font-weight: 300;*/
}
.navbar-brand{
	font-family: 'Quicksand', 'Pacifico';
	font-size: 20px;
	border-top: 3px solid transparent;
	padding: 1em 2em;
	color: #727171;
}
/*.pr-signup-btn{
	border: 2px solid #10a9c5;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    background-color: #10a9c5;
    color: white;
    border-radius: 5px;
}*/
.pr-navbar{
	margin-bottom: 0px;
	background-color: transparent;
	border:0px;
	z-index: 100;
	/*padding-top: 1em;*/
	/*box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);*/
	/*border-bottom: 1px solid #e7e7e7;*/
}
.pr-navbar-list li a{
	border-top: 3px solid transparent;
	font-size: 20px;
	padding : 1em 1.5em;
	color: #727171;
}
.pr-navbar-list li a:hover{
	border-top: 3px solid #406acb;
}
.pr-navbar-list li:hover > a{
	color: #406acb;
	/*font-weight: 400;*/
}
.pr-navbar-right li a{
	padding: 0px;
	padding:0.5em 1.5em;
	border-radius: 20px;
	background-color: #406acb;
	color: white;
	margin-top:0.7em;
	font-weight: 400;
	font-size: 15px;
}

.pr-navbar-list li a.active{
	border-top: 3px solid #406acb;
	color: #406acb;
	font-weight: 400;
}

@media only screen and (max-width: 600px) {
    .pr-navbar{
		background-color: white;
	}
}




