<div class="container">
		<div class="row pr-main-row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="text-center">
					<h2>Sign Up</h2>
					<p>Already on Pruchha? <a href="/login" class="btn pr-signup-btn">Log In</a></p>
				</div>
				<p class="pr-main-error"></p>
				<form class="form-horizontal" [formGroup]="form" ng-submit="signup(form.value)">
			            <!-- Name input-->
			        <!--     <div class="form-group">
			              <label class="col-md-3 control-label" for="fname">First Name</label>
			              <div class="col-md-9">
			                <input id="fname" name="fname" type="text" placeholder="First Name" class="form-control pr-signup-input" #fname>
			              </div>
			            </div> -->
			               <app-input [name]="'fname'" [type]="'text'" [control]="form.controls.control" ngDefaultControl></app-input>

			             <!-- Name input-->
			          <!--   <div class="form-group">
			              <label class="col-md-3 control-label" for="lname">Last Name</label>
			              <div class="col-md-9">
			                <input id="lname" name="lname" type="text" placeholder="Last Name" class="form-control pr-signup-input" #lname>
			              </div>
			            </div> -->
			              <app-input [name]="'lname'" [type]="'text'" [control]="form.controls.control" ngDefaultControl></app-input>
			    
			            <!-- Email input-->
			       <!--      <div class="form-group">
			              <label class="col-md-3 control-label" for="email">Email</label>
			              <div class="col-md-9">
			                <input id="email" name="email" type="text" placeholder="Email" class="form-control pr-signup-input" #email>
			              </div>
			            </div> -->
			              <app-input [name]="'email'" [type]="'text'" [control]="form.controls.control" ngDefaultControl></app-input>
			    
			           <!-- password input-->
			 <!--            <div class="form-group">
			              <label class="col-md-3 control-label" for="password">Password</label>
			              <div class="col-md-9">
			                <input id="password" name="password" type="password" placeholder="Password" class="form-control pr-signup-input" #password>
			              </div>
			            </div> -->
			              <app-input [name]="'password'" [type]="'password'" [control]="form.controls.control" ngDefaultControl></app-input>
			    
			            <!-- Form actions -->
			            <div class="form-group">
			              <div class="col-md-12 text-center">
			                <button type="submit" class="btn btn-sm pr-register-btn" (click)="signup()" [disabled]="!form.valid">Sign Up</button>
			              </div>
			            </div>
			          </form>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>