.alert p{
	margin:0;
}
.alert{
	padding: 7px;
}
.pr-main-row{
	padding-top: 10%;
}

.pr-main-error{
	/*color: red;*/
}

.pr-login-btn{
    background-color: transparent;
    border: 1px solid #406acb;
    color: #406acb;
}

.pr-signin-google-btn{
	/*background-color: #dd2323;*/
	background-color: transparent;
	border:1px solid #406acb;
	color: #406acb;
}

.pr-signin-google-btn .fa-google{
	padding-right: 1em;
	/*border-right: 1px solid #e7e7e7;*/
}

.pr-signin-google-btn:hover{
	/*background-color: #dd2323;*/
	border:1px solid #dd2323;
	color: #dd2323;
}

.pr-register-btn{
	background-color: #406acb;
	/*border:1px solid #57d6eb ;*/
	/*border-color: #57d6eb;*/
	color: #eee;
}

.pr-signup-div{
	padding-right: 2em;
	border-right: 1px solid #e7e7e7;
}

.pr-social-signup-div{
	padding-top: 10%;
}

.form-group .pr-signup-input{
	border:none;
	box-shadow: none;
	outline: none;
	border-bottom: 1px solid #e7e7e7;
	border-radius: 0px;
}

.pr-sub-title{
	color: #7b7272;
}