

   <nav class="navbar navbar-inverse pr-t-navbar" [ngClass]="setBgColor()">
	<div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pr-t-navbar">
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand pr-t-logo" href="#"><img [src]="logoPath" height="40px" alt=""></a>
		</div>
		<div class="collapse navbar-collapse" id="pr-t-navbar">
		  <ul class="nav navbar-nav navbar-right">
		    <li class="active"><a href="#">Home</a></li>
		    <li><a href="#about">About</a></li>
		    <li><a href="#demo">Features</a></li>
		    <li><a href="#contact">Gallery</a></li>
		    <li><a href="#contact">Contact</a></li>
		  </ul>
		</div>
	</div>
</nav>
<div class="more-info text-center" [ngClass]="setBgColor()">
  <h1 class="pr-t-title pr-t-edit-input" [ngClass]="setHeaderColor()">{{title}}</h1>
  <h2 class="pr-t-sub-title pr-t-edit-input" [ngClass]="setHeaderColor()">{{subtitle}}</h2>
    <br>
  <!-- <button type="button" class="btn pr-t-btn -pr-t-find-more-btn " id="transform" name="button">Find more</button> -->
</div>



