<div class="container">
		<div class="row pr-main-row text-center">
		<h1>set template</h1>
			<div class="col-md-4">
				<div class="pr-template-img">
					<a href="/template/1"><img src="/images/template2.png"></a>
				</div>
				<a href="/template/1">1</a>
			</div>
			<div class="col-md-4">
				<div class="pr-template-img">
					<a href="/template/2"><img src="/images/template2.png"></a>
				</div>
				<a href="/template/2">2</a>
			</div>
			<div class="col-md-4">
				<div class="pr-template-img">
					<a href="/template/2"><img src="/images/template2.png"></a>
				</div>
				<a href="/template/1">1</a>
			</div>
		</div>
	</div>