<div class="pr-notifications-panel">
	<div class="pr-noti-header"><h4>Recent Notifications <span class="pr-noti-icon pull-right"><i class="fa fa-bell"></i></span></h4></div>
	<div class="pr-noti-body">
		<ul class="pr-dashboard-notifications-list">
		<li>
			<span>frewtw</span><span class="pr-noti-icon pull-right"><i class="fa fa-bell"></i></span>
		</li>
		<li>
			<span>frewtw</span><span class="pr-noti-icon pull-right"><i class="fa fa-bell"></i></span>
		</li>
		<li>
			<span>frewtw</span><span class="pr-noti-icon pull-right"><i class="fa fa-bell"></i></span>
		</li>
	</ul>
</div>
</div>
