<div class="container">
		<div class="row pr-main-row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="text-center">
					<h2>Log In</h2>
					<p>New to Pruchha? <a href="/signup" class="btn btn-sm pr-signup-btn">Sign Up</a></p>
				</div>
				<p class="pr-main-error alert alert-danger" *ngIf="!form.untouched && !form.valid">{{errorAlert}}</p>
				<form class="form-horizontal text-center pr-main-login-form" [formGroup]="form" ng-submit="login(form.value)">
			            <!-- Email input-->
			            <!-- <div class="form-group">
			              <label class="col-md-3 control-label" for="email">Email</label>
			              <div class="col-md-9">
			                <input id="email" name="email" type="text" placeholder="Email" class="form-control pr-login-input" ng-model="email" #email>
			              </div>
			            </div> -->
			            <app-input [name]="'Email'" [type]="'text'" [control]="form.controls.control" ngDefaultControl></app-input>
			    		<!-- <p class="pr-main-error" *ngIf="!form.controls.control['email'].untouched">{{errorAlert}}</p> -->

			           <!-- password input-->
			           <!--  <div class="form-group">
			              <label class="col-md-3 control-label" for="password">Password</label>
			              <div class="col-md-9">
			                <input id="password" name="password" type="password" placeholder="Password" class="form-control pr-login-input" ng-model="password" #password>
			              </div>
			            </div> -->
			            <app-input [name]="'Password'" [type]="'password'" [control]="form.controls.control" ngDefaultControl></app-input>
			    
			            <!-- Form actions -->
			             <div class="form-group">
			              <div class="col-md-12">
			                <button type="submit" class="btn btn-sm pr-login-btn" (click)="login()" [disabled]="!form.valid">Log In</button>
			              </div>
			            </div>
			          </form>
			          <!-- {{form.value | json}} -->
			          
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>

