.alert p{
	margin:0;
}
.alert{
	padding: 7px;
}

.pr-main-row{
	padding-top: 10%;
}

.pr-login-btn{
	background-color: #406acb;
	border-color: transparent;
	color: white;
}

.pr-signup-btn{
	background-color: transparent;
	border:1px solid #406acb ;
	/*border-color: #57d6eb;*/
	color: #406acb;
}
.pr-main-login-form{
	padding-top: 2em;
}

.pr-main-error{
	/*color:#e60202;*/
	margin:0px;
}

.form-group .pr-login-input{
	border:none;
	box-shadow: none;
	outline: none;
	border-bottom: 1px solid #e7e7e7;
	border-radius: 0px;
}

.pr-signup-div{
	padding-right: 2em;
	border-right: 1px solid #e7e7e7;
}

.pr-social-signup-div{
	padding-top: 10%;
}

.pr-signin-google-btn{
	/*background-color: #dd2323;*/
	background-color: transparent;
	border:1px solid #406acb;
	color: #406acb;
}

.pr-signin-google-btn .fa-google{
	padding-right: 1em;
	/*border-right: 1px solid #e7e7e7;*/
}

.pr-signin-google-btn:hover{
	/*background-color: #dd2323;*/
	border:1px solid #dd2323;
	color: #dd2323;
}
