<div class="row">
	<div class="col-md-4">
	<div class="panel">
		<div class="pr-stats-card-left">
			<p class="pr-stat-icon"><i class="fa fa-line-chart"></i></p>
		</div>
		<div class="pr-stats-card-right">
			<h5>Recent Views</h5>
			<p>ff</p>
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="panel">
		<div class="pr-stats-card-left">
			<p class="pr-stat-icon"><i class="fa fa-line-chart"></i></p>
		</div>
		<div class="pr-stats-card-right">
			<h5>Recent Views</h5>
			<p>ff</p>
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="panel">
		<div class="pr-stats-card-left">
			<p class="pr-stat-icon"><i class="fa fa-line-chart"></i></p>
		</div>
		<div class="pr-stats-card-right">
			<h5>Recent Views</h5>
			<p>ff</p>
		</div>
	</div>
</div>
</div>
<div class="row">
	<div>
		
	</div>
</div>
