.pr-sub-footer{
	background-color: grey;
	padding: 1em;
}
.pr-copyright-footer{
	background-color: #333232;
	padding: 1em;
}
.pr-copyright-footer p{
	color: white;
}
.pr-footer-list{
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.pr-footer-list li{
	padding: 0.5em;
}
.pr-footer-list li a{
	text-decoration: none;
	color: black;
}