<!-- HEADER SECTION -->
	<section>
		<div class="pr-head-section text-center">
			<h1>Design Free Business Page</h1>
			<h2>and Publish in one click</h2>
			<a href="/login" class="btn pr-main-header-create-btn">Create Now</a>
		</div>
		<div class="pr-overlay-left-div">
			<div class="pr-overlay-div-head">
				<p class="pr-head-list pull-right"></p>
				<p class="pr-head-list pull-right"></p>
				<p class="pr-head-list pull-right"></p>
			</div>
			<div class="pr-overlay-div-body text-center">
				<p class="pr-head-list pr-body-button"></p>
			</div>
			<!-- <div class="pr-overlay-div-body"></div> -->
		</div>
		<div class="pr-overlay-left-div-two">
			<div class="pr-overlay-div-head">
				<p class="pr-head-list pull-right"></p>
				<p class="pr-head-list pull-right"></p>
				<p class="pr-head-list pull-right"></p>
			</div>
			<div class="pr-overlay-div-body text-center">
				<p class="pr-head-list pr-body-button"></p>
			</div>
			<!-- <div class="pr-overlay-div-footer"></div> -->
		</div>
	</section>

<section class="pr-home-section">
	
</section>
<section class="pr-home-section">
		<app-how-it-works></app-how-it-works>
</section>