<!-- START | FOOTER -->
<footer>
	<div class="container footer" id="contact">
  		<div class="col-md-4">
			<ul>
			  <li><a href="#">Home</a></li>
			  <li><a href="#">About us</a></li>
			</ul>
  		</div>
		<div class="col-md-4">
		    <ul>
		      <li><a href="#">Gallery</a></li>
		      <li><a href="#">Features</a></li>
		    </ul>
		</div>
		 <div class="col-md-4">
		   <h3>Address</h3>
		   <p>Pune - 411 038 Maharashtra (India).</p>
		 </div>
	</div>
	<div class="container text-center">
		<a href="#"><i class="fa fa-facebook-square fa-lg " aria-hidden="true" title="facebook"></i></a>
	    <a href="#"> <i class="fa fa-linkedin-square fa-lg" aria-hidden="true" title="linkedin"></i></a>
	    <a href="#"> <i class="fa fa-google-plus-square fa-lg" aria-hidden="true" title="google+"></i></a>
	    <a href="#"><i class="fa fa-github-square fa-lg" aria-hidden="true" title="github"></i></a>
	</div>
		<p style="font-size:12px;text-align: center;margin:0px;color:grey;">All Copyrights are reserverd </p>
</footer>
