<div class="container">

	<div class="row pr-dashboard-row">
		<div class="col-md-12">
			<!-- <div class="panel pr-dashboard-panel"> -->
				<app-recent-notifications></app-recent-notifications>
			<!-- </div> -->
		</div>
	</div>
	<div class="row pr-dashboard-row">
<!-- 		<div class="col-md-4">
			<div class="panel pr-dashboard-panel">
				<app-notifications></app-notifications>
			</div>
			
		</div> -->
		<div class="col-md-8">
			<div class="panel pr-dashboard-panel pr-panel-border pr-panel-padding">
				<app-stats></app-stats>
			</div>
			
		</div>
		<div class="col-md-4">
			<div class="panel pr-dashboard-panel pr-panel-border">
				<app-notifications></app-notifications>
			</div>
		</div>
	</div>
	<div class="row pr-dashboard-row">
		<div class="col-md-12">
			<div class="panel pr-dashboard-panel pr-panel-border pr-panel-padding">
				<app-current-selections></app-current-selections>
			</div>
		</div>
	</div>
</div>
